# Whisper Service
MODEL_SIZE=tiny
NATS_URL=nats://nats:4222
GRPC_HOST=whisper_grpc
GRPC_PORT=50051

# MinIO Storage
MINIO_ENDPOINT=https://minio.darwinyusef.com
MINIO_CONSOLE=https://console.darwinyusef.com
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# n8n
N8N_HOST=n8n.darwinyusef.com
WEBHOOK_URL=https://n8n.darwinyusef.com/
N8N_USER=admin
N8N_PASSWORD=change_this_password_in_production
